@model IEnumerable<CW_ADB_MVC.Models.View_AllOperations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inc_Exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TankType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TankID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inc_Exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TankType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OperationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OperationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OperationID })
        </td>
    </tr>
}

</table>
