@model IEnumerable<CW_ADB_MVC.Models.Tanks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Емкости</h2>

<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TankType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TankVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TankWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TankMaterial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TankType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TankVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TankWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TankMaterial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TankID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TankID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TankID })
        </td>
    </tr>
}

</table>
